@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .cookie {
        -webkit-filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white);
        filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white);

    }

    .cookie:hover {
        -webkit-filter: drop-shadow(5px 5px 0 white) drop-shadow(-5px -5px 0 white);
        filter: drop-shadow(5px 5px 0 white) drop-shadow(-5px -5px 0 white);
        animation: rocking 0.5s infinite forwards;
        overflow: hidden;
    }


    @keyframes rocking {
        0% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(10deg);
        }

        100% {
            transform: rotate(0deg);
        }
    }

    .cookie:focus {
        -webkit-filter: drop-shadow(5px 1px 0 red) drop-shadow(-5px -1px 0 red);
        filter: drop-shadow(5px 1px 0 red) drop-shadow(-5px -1px 0 red);
    }


}